.loginPage {
	display: flex;
	background-color: aqua;
	height: 100vh;
}
.LoginMain {
	width: 50%;
	background-color: blueviolet;
}
.aside {
	width: 50%;
	height: inherit;
}
.aside img {
	height: inherit;
}
/*.loginAdminPage {
	height: 100vh;
	width: 100%;
	background-image: url("../../../public/bg_login_admin.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loginAdmincontainer {
	display: flex;
	flex-basis: 20%;
	height: 40%;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	padding: 20px;
}

.loginAdminContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: none;
	margin-bottom: 15px;
}
.loginAdminContent label {
	margin-bottom: 5px;
	font-size: 14px;
	color: rgb(225, 225, 225);
}
.loginAdminContent input {
	border-radius: 7px;
	height: 25px;
	width: 100%;
	border: none;
}
.loginAdminBotao {
	width: 100%;
	border: none;
	outline: none;
	height: 27px;
	border-radius: 7px;
	background-color: #02ccb4;
	font-weight: bold;
	margin-bottom: 15px;
}
.loginAdminError {
	font-size: 13px;
	color: red;
	margin-top: 3px;
}
@media (max-width: 1024px) {
	.loginAdmincontainer {
		flex-basis: 30%;
	}
}
@media (max-width: 480px) {
	.loginAdmincontainer {
		flex-basis: 60%;
	}
}*/
